%tr
  %td= link_to player.full_name, league_player_path(player.league, player)
  %td= player.email
  %td= player.phone
  %td= number_to_currency player.balance
  %td
    = link_to "edit", edit_league_player_path(player.league, player), id: "player-#{player.id}"
    |
    = link_to "send text", send_text_league_player_path(player.league, player)
