.row-fluid
  .span6
    %h1 Leagues
    = link_to "Send Text Reminders to Delinquent GMs", send_text_reminders_leagues_path
    %br
    %br
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th League Name
          %th League Fee
      %tbody
        = render @leagues

    = link_to "Add League", new_league_path(@league)

