%h2 Create New League

= form_for @league, html: {class: 'form'}  do |f|
  %fieldset
    = f.label :name, "League Name"
    = f.text_field :name

    = f.label :fee, "League Fee"
    = f.text_field :fee
    .actions
      = f.submit "Create League", class: "btn btn-primary"

:javascript
  $(function(){
    $("#new_league").validate({
      debug:true,

      submitHandler: function(form){
        form.submit();
      },

      rules: {
        "league[name]": {required: true}
      }
    });
  });
