.row-fluid
  .span8
    %h1= @league.name

    %h3 General Managers
    %br
    = link_to "Send League Update", send_update_league_path(@league)
    %br
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th Balance
          %th Action
      %tbody
        = render partial: "player", collection: @league.players, as: :player

    = link_to "Add General Manager", new_league_player_path(@league)
