= @league.name
League Update

Players Who Still Owe
- @league.gms_who_owe.each do |player|
  = player.full_name
  = number_to_currency(player.balance)

Players Who Paid
- @league.gms_who_paid.each do |player|
  = player.full_name
  = number_to_currency(player.balance)

Players Who Are Waiting to Be Paid
- @league.gms_who_won.each do |player|
  = player.full_name
  = number_to_currency(player.balance)

For those of you who owe money:

You have two options for submitting your payment: 

1) Pay via PayPal to kareem.grant@gmail.com  Please note: if you choose to send money through PayPal, select the "Personal -> Other" option to avoid paying fees, if not, you will be responsible for paying PayPal's 3% fee.

or

2) You can pay by check to the following address (please note this is new address):
 
4000 Jeffry Street
Silver Spring, MD 20906

 
For those of you who won money:
 
You will not be paid until 100% of all outstanding balances are paid.
 
Also, I will not be following-up with any delinquent GM regarding owed balances. Instead, I will send out a weekly email detailing who has paid and who still owes money. It will be the responsibility of everyone to make their payment.
 
So do not contact me regarding owed balances, this information will be made public to the entire league on a weekly basis.
