!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title AutoCommish Email
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
  %body
    %h1 #{@league.name} Weekly League Payment Update

    %h3 GMs Who Still Owe
    %ul
    - @league.gms_who_owe.each do |player|
      %li 
        %span= player.full_name
        %span= number_to_currency player.balance

    %h3 GMs Who Have Paid
    %ul
    - @league.gms_who_paid.each do |player|
      %li 
        %span= player.full_name

    %h3 GMs Who Are Awaiting Payment
    %ul
    - @league.gms_who_won.each do |player|
      %li 
        %span= player.full_name
        %span= number_to_currency player.balance
%br
%p 
  %b For those of you who owe money:

%p You have two options for submitting your payment:

%p 1) Pay via PayPal to kareem.grant@gmail.com  

%p Please note: if you choose to send money through PayPal, select the "Personal -> Other" option to avoid paying fees, if not, you will be responsible for paying PayPals 3% fee.

%p or

%p 2) You can pay by check to the following address (please note this is a new address):

%p 4000 Jeffry Street, Silver Spring, MD 20906

%br
%p 
  %b For those of you who won money:

%p You will not be paid until 100% of all outstanding balances are paid.

%p Also, I will not be following-up with any delinquent GM regarding owed balances. Instead, I will send out a weekly email detailing who has paid and who still owes money. It will be the responsibility of everyone to make their payment.
 
%p So do not contact me regarding owed balances, this information will be made public to the entire league on a weekly basis.
