= form_for ([@league, @player]), html: {class: 'form'}  do |f|
  %fieldset
    = f.label :full_name, "Full Name"
    = f.text_field :full_name
    %br
    = f.label :email, "Email Address"
    = f.text_field :email
    %br
    = f.label :phone, "Mobile Phone"
    = f.text_field :phone
    %br
    .actions
      = f.submit "Save", class: "btn btn-primary"
