%h1 Edit Player

%h2 Add New Player

= render 'form'
:javascript
  $(function(){
    $("#edit_player_#{@player.id}").validate({
      debug:true,

      submitHandler: function(form){
        form.submit();
      },

      rules: {
        "player[full_name]" : {required: true},
        "player[email]"     : {required: true, email: true},
        "player[phone]"     : {required: true, phoneUS: true},
        "player[balance]"   : {required: true, digits: true}
      }
    });
  });
