%h1= @league.name

%h2 Add New Player

= render 'form'

:javascript
  $(function(){
    $("#new_player").validate({
      debug:true,

      focusInvalid: false,
      submitHandler: function(form){
        form.submit();
      },

      rules: {
        "player[full_name]" : {required: true},
        "player[email]"     : {required: true, email: true},
        "player[phone]"     : {required: true, phoneUS: true},
        "player[balance]"   : {required: true, digits: true}
      }
    });
  });

