.row-fluid
  .span8
    %h1= link_to @league.name, league_path(@league)
    %h2 General Manager:  #{@player.full_name}
    %h3.balance Current Balance: #{number_to_currency @player.balance}

    = link_to "Record Payment", new_league_player_transaction_path(@league, @player)
    %br
    %br

    %table.table.table-bordered.table-striped.payments-table
      %thead
        %tr
          %th Amount
          %th Date
      %tbody
        = render partial: "payment", collection: @payments, as: :payment
