body { padding-top: 60px; }

.field_with_errors {
  input[type=text] {
    border-color: red;
  }

  label {
    color: red;
    font-weight: bold;
  }
}


label.error {
  background: url('unchecked.gif') no-repeat;
  color: red;
  display: inline;
  width: 200px;
  margin-left: 10px;
  position: relative;
  padding-left: 18px;
}

// label.error:before {
//   content:"\f05e";
//   font-family: FontAwesome;
//   font-style: normal;
//   font-weight: normal;
//   text-decoration: inherit;
//   position: absolute;
//   left: -10px;
//   top: -1px;
// }

input[type=text].error {
  border:1px solid red;
}
