.row-fluid
  .span8
    %h1= link_to @league.name, league_path(@league)
    %h3
      Record Payment for 
      = link_to @player.full_name, league_player_path(@league, @player)
    %h4 Current Balance: #{number_to_currency @player.balance}

    = form_tag league_player_transactions_path(@league, @player), class: "form-inline" do
      = text_field_tag 'amount', nil, :id => "payment-amount"
      = submit_tag "Record Payment", class: "btn btn-primary"
