= link_to "AutoCommish", root_path, :class => 'brand'

-# %ul.nav
-#   - if user_signed_in?
-#     %li
-#       = link_to 'Logout', destroy_user_session_path, :method=>'delete'
-#   - else
-#     %li
-#       = link_to 'Login', new_user_session_path
-#   - if user_signed_in?
-#     %li
-#       = link_to 'Edit account', edit_user_registration_path
-#   - else
-#     %li
-#       = link_to 'Sign up', new_user_registration_path
